<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="../style.css" />
  </head>
  <body>
    <h1>All Cars</h1>
    <a href="cars/new">Add A New Car</a>
    <a href="cars/delete">Delete Car with ID</a>

    <ul>
      <% cars.forEach(car => {%>
      <li>
        <p>Car Name: <%= car.name %></p>
        <p>Year:  <%= car.year %></p>
        <div style="display: flex; flex-direction: row; flex-basis: auto 0;">
        <a href="/cars/<%= car._id  %>">See Car Details</a>  
        - -
        <a href="/cars/update/<%= car._id  %>">Update Car Details</a>  
        - -
        <a href="/cars/delete/<%= car._id  %>">Delete Car</a>
        </div>
      </li>
      <% }); %>
    </ul>
  </body>
</html>
