<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="../style.css" />
  </head>
  <body>
    <h1>Car Details</h1>
    <ul>
      <li>
        <p>Model Name: <%= car.name %></p>
        <p>Year: <%= car.year %></p>
        <p>Engine Power (in hp): <%= car.enginePower %></p>
        <p>Engine Type: <%= car.engineType %></p>
        <p>Car Weight: <%= car.weight %></p>
        <p>Drag Coeffecient: <%= car.dragCoeff %></p>
        <p>ID: <%= car._id %></p>
      </li>
    </ul>
    <a href="/cars/delete/<%= car._id  %>">Delete Car</a>
    <a href="/cars/update/<%= car._id  %>">Update Car</a>

    <br />
    <a href="/cars">Go Back</a>
  </body>
</html>
